<!DOCTYPE html>
<html>
<head>
  <title>Base de conhecimento</title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "/jquery_ui/js/jquery-1.4.2.min.js", "/jquery_ui/js/jquery-ui-1.8.4.custom.min.js", "rails.js", "application.js" %>
  <%= stylesheet_link_tag "/jquery_ui/css/production/jquery-ui-1.8.4.custom.css", "/jquery_ui/css/production/header.ui.css", "/jquery_ui/css/production/content.ui.css", "estilo.css"%>

</head>
<body bgcolor="#FFF">
<div class="ui-widget">
	<div id="menu_header" class="ui-widget-content ui-state-default ui-corner-top">
		<span id="hd_go_home"><%=link_to "home", "/" %></span>
		<span id="hd_add_new_conhecimento"><%=link_to "+ conhecimento", new_conhecimento_path %></span>
		<span id="hd_add_new_autor"><%=link_to "+ autor", new_autor_path %></span>
		<span id="hd_add_new_autor"><%=link_to "+ categoria", new_categoria_path %></span>
		<span id="hd_pesquisa">
		<form method="post" action="/home/pesquisa" id="frm_pesquisa" style="display:inline">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
			pesquisar:
			<input type="text" name="txt_pesquisa" id="txt_pesquisa" class="ui-corner-all" value="<%=params[:txt_pesquisa]%>"/>
			<select name="tp_pesquisa" id="tp_pesquisa" class="ui-corner-all">
				<option value="">tudo</option>
				<option value="c">categorias</option>
				<option value="a">autores</option>
				<option value="co">conhecimentos</option>
			</select>
			
		</span>
		<span id="spn_btn_pesquisa" class="ui-icon ui-icon-play" style="display:inline-block;cursor:pointer" onclick="$('#frm_pesquisa').submit()">
		</form>
		</span>
	</div>
</div>
<%= yield %>

</body>
</html>
